<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://th.bing.com/th/id/OIP.p9VtyGVQ9W7cfNGVGDrn9QHaDt?w=312&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      alt=""
      height="200px"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Novo evento na Escola de Jujutsu</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet malesuada mi. Nunc placerat ipsum suscipit, lobortis ante ultrices, ultrices ante. Proin efficitur ipsum at tincidunt sodales. Ut non massa non tellus accumsan ullamcorper sed cursus neque. Nullam malesuada pulvinar diam, quis finibus felis.
      </a>
    </p>
  </div>
</div>
