<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://th.bing.com/th/id/OIP.GPw7Lm73QuMYWPn5hgnpzwHaEK?w=310&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
        alt=""
        height=""
        srcset=""
      >
    </div>
    <div class="small-card__title">
      <h1><a href="#">Yuji Itadori foi possuído pelo Sukuna?</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>

