<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
     <app-big-card
     photoCover="https://th.bing.com/th/id/OIP.p9VtyGVQ9W7cfNGVGDrn9QHaDt?w=312&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7"
     cardTitle="Novo evento na Escola de Jujutsu"
     cardDescription="A Escola de Jujutsu está propondo um evento de jogos de magia entre os alunos na cidade de Tokyo."
     ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://th.bing.com/th/id/OIP.GPw7Lm73QuMYWPn5hgnpzwHaEK?w=310&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Yuji Itadori foi possuído pelo Sukuna?"
    ></app-small-card>

    <app-small-card
    photoCover="https://th.bing.com/th/id/OIP.cQxLLB1ef7Oa94DB3dgqsQHaE3?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Conheça mais sobre Yūta Okkotsu"
    ></app-small-card>

    <app-small-card
    photoCover="https://th.bing.com/th/id/OIP.vt-yDMi16M-Jo_hvHmbVPQHaDt?w=307&h=175&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Aoi Todo é forte o suficiente para ser um feiticeiro de nível especial?"
    ></app-small-card>
  </div>
</div>
